<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       .form-box{
        width: 380px;
        height: 700px;
        background: white;
        margin: 8% auto;
        position: relative;
        padding: 0px;
        overflow: hidden;
        border-style: solid;
        width: 100%;
        padding: 10px 0;
        margin: 5px 0;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid #999;
        outline: none;
        background: transparent;
       }
    </style>
</head>
<body>
    <div class="form-box">
        <form action="/student" method="POST">
            {% csrf_token %}
           <input type="text" name="name" id="name" placeholder="Enter the Student First name"/>
           <input type="text" name="age" id="age" placeholder="Age"/>
           <input type="text" name="college" id="college" placeholder="College name"/>
           <input type="text" name="address" id="address" placeholder="Address"/>
           <button style="background-color: green;" type="submit">Submit</button>


        </form>
    </div>
</body>
</html>