<h1 class="text-center my-3">Add new Student Card</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card bg-light text-black">
          <div class="card-body">
            <form action="">

              <div class="mb-3">
                <label for="name">Student Name</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Enter the name">


              </div>
              <div class="mb-3">
                <label for="prn">Student PRN:</label>
                <input type="text" name="prn" id="prn" class="form-control" placeholder="Enter PRN Number">


              </div>
              
              <div class="mb-3">
                <label for="age">AGE</label>
                <input type="text" name="age" id="age" class="form-control" placeholder="Student Age">

                <div class="mb-3">
                  <label for="birth">Student Birth Date</label>
                  <input type="text" name="birth" id="birth" class="form-control" placeholder="Enter the Birth date">
  
  
                </div>
              </div>
              <div class="mb-3">
                <label for="phone">Student MOBILE NO:</label>
                <input type="text" name="phone" id="phone" class="form-control" placeholder="Enter MOBILE No">


              </div>
              <div class="mb-3">
                <label for="address">Student Address</label>
                <textarea name="address" id="address" cols="30" rows="10" class="form-control">
                </textarea>
              </div>
              <div class="mb-3 for-check">
                <label for="studing" >Studing</label>
                <input type="checkbox" id="studing" class="form-check">
              </div>
              <div class="mb-3">
                <label for="field">Student Field</label> 
                <select name="field" id="field" class="form-control">
                  <option value="BSC" >BSC</option>
                  <option value="BCA" >BCA</option>
                  <option value="MCA" >MCA</option>
                  <option value="MBA" >MBA</option>
                  
                </select>
  
              </div>
              <div class="container text-center">
                <button class="btn btn-primary">Submit</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>